{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
      integrity="sha512-zzq8ZrbhP7DGbwClbqSYuo+di3FvAlMNykCKWE6pHuqmCgGjJSISDTzy7QkdI2ajLlgw0nx6hxIu8os2hYuN8w=="
      crossorigin="anonymous"
    />
    <title>Task List</title>
    <style>
      a {
        text-decoration: none;
      }
      #task_edit_form {
        display: none;
      }
    </style>
    {% block extra_head_scripts %}
    {% endblock extra_head_scripts %}
</head>